<!DOCTYPE html> 
<html> 
<head> 
    <title>hii</title> 

</head> 
<body> 
         
         <div class="container"> 
           <h1>login success</h1> 
          <div class="datails"> 
             <div class="card text-xs-center"> 
                 <br> 
          <img class="card-img-top" src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fdepositphotos.com%2Fvector-images%2Funknown-profile-picture.html&psig=AOvVaw01dW0eBHiMTKWdHCyronnU&ust=1622282386182000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCPCF_fyO7PACFQAAAAAdAAAAABAD" 
            alt="Card image cap"> 
            <div class="card-block"> 
              <h4 class="card-title">User Details</h4> 
              <p class="card-text"> 
                <strong>Welcome  </strong><%=user.local.name%><br> 
                
              </p> 
              <a href="/logout" class="btn btn-default">Logout</a> 
            </div> 
        </div> 
      </div> 
   </div> 
  
     </body> 
     </html> 